* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background: #F4F6F8;
    color: #162447;
}
nav {
    background: linear-gradient(90deg, #1f3d8807, #5282fd93);
    padding: 20px;
    color: #000000;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav img {
    height: 65px;
}

.btn{
  margin-left: 15px;
  position: relative;
  top: -85px;
  right: 40px;
  float: right;
}

a:hover{
  padding: 5px;
  border-radius: 10px;
}

button{
  margin: 5px;
  padding: 8px 12px;
  border-radius: 12px;
  border: #CCD6E0 solid 1px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: 0.3s;
}

button:hover, a:hover{
    filter: brightness(1.1);
    transform: translateY(-1px);
    transition: 0.3s;
    background: #1F3C88;
    color: white;
}

.titulo {
  text-align: center;
}

.container, #add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


#alunosSection, .aulas-container, .notas-container, .campo{
    height:auto;
    width: 420px;
    margin: 50px auto;
    display: block;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 15px 35px rgba(31,60,136,0.15);
}

h3{
  margin: 10px;
}
.campo {
    display: block;
    flex-direction: column;
}

.campo input {
    margin-bottom: 10px;
    font-weight: 600;
    color: #162447;
    width: 100%;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #CCD6E0;
    font-size: 15px;
    transition: all 0.3s ease;
}

.campo textarea {
    height: 150px;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    outline: none;
    border-color: #1EB6E8;
    box-shadow: 0 0 0 3px rgba(30,182,232,0.25);
    transition: 0.5s;
}

ul{
  list-style: none;
}

ul li{
  font-size: 14px;
  border-radius: 6px;
  margin: 5px;
  width: auto;
}

#listaAlunos li, #listaVideos li{
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

#listaVideos li{
  font-size: 15px;
  margin: 8px;
}
#listaAlunos:hover{
  outline: none;
  border-radius: 5px;
  border-color: #1EB6E8;
  box-shadow: 0 0 0 3px rgba(30,182,232,0.25);
  font-weight: 600;
  transition: 0.3s;
}

.notas, .aulas{
  margin: 30px auto;
  max-width: 700px;
  min-width: 400px;
  text-align: center;
}

#listaNotas button, #listaVideos button{
  margin: 5px;
}

/* ===============================
RESPONSIVO
=============================== */
@media (max-width: 768px) {
header .logo {
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.btn{
  position: relative;
  left: -10px;
}

}