* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background: #F4F6F8;
    color: #162447;
}
nav {
    background: linear-gradient(90deg, #1f3d8807, #5282fd93);
    padding: 20px;
    color: #000000;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav img {
    height: 65px;
}

.btn{
  margin-left: 15px;
  position: relative;
  top: -85px;
  right: 40px;
  float: right;
}

button {
  margin-top: 5px;
  padding: 15px 26px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: 0.3s;
}

button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    transition: 0.3s;
    background: #1F3C88;
    color: white;
}

.titulo {
  
  text-align: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}


#alunosSection, .notas-container, .campo{
    
    height:auto;
    width: 600px;
    margin: 50px auto;
    display: block;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 15px 35px rgba(31,60,136,0.15);
}

.campo {
    display: block;
    flex-direction: column;
}

.campo input {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #162447;
    width: 100%;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid #CCD6E0;
    font-size: 14px;
    transition: all 0.3s ease;
}

.campo textarea {
    resize: vertical;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    outline: none;
    border-color: #1EB6E8;
    box-shadow: 0 0 0 3px rgba(30,182,232,0.25);
}

ul{
  list-style: none;
}

ul li{
  border-radius: 6px;
  margin: 6px auto;
  width: auto;
}

#listaAlunos li{
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

#listaAlunos:hover{
  outline: none;
  border-radius: 5px;
  border-color: #1EB6E8;
  box-shadow: 0 0 0 3px rgba(30,182,232,0.25);
  font-weight: 600;
  transition: 0.3s;
}

.notas{
  margin: 30px auto;
  max-width: 700px;
  min-width: none;
  
  text-align: center;
}

#listaNotas button{
  margin: 5px;
}