body{
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  padding: 20px;
}

h2, h3 {
  text-align: center;
}

form {
  background: white;
  padding: 15px;
  margin: 10px auto;
  border-radius: 6px;
  max-width: 450px;
}

input, textarea {
  display: block;
  width: 95%;
  padding: 8px;
  margin: 8px auto;
}

button{
  padding: 8px 14px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover{
  background: #0056b3;
}

ul{
  list-style: none;
  padding-left: 0;
}

ul li{
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin: 6px auto;
  max-width: 600px;
}

#paginacao button{
  margin: 4px;
}

#listaAlunos li{
  background: #fff;
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
