* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background: #F4F6F8;
    color: #162447;
}
nav {
    background: linear-gradient(90deg, #1f3d8807, #5282fd93);
    padding: 20px;
    color: #000000;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn{
  margin-left: 15px;
  position: relative;
  top: -85px;
  right: 40px;
  float: right;
}

nav img {
    height: 65px;
}

button{
  margin: 5px;
  padding: 8px 12px;
  border-radius: 12px;
  border: #CCD6E0 solid 1px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: 0.3s;
}


button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    transition: 0.3s;
    background: #1F3C88;
    color: white;
}

ul{
  list-style: none;
}

ul li{
  border-radius: 6px;
  margin: 6px auto;
  width: auto;
}

.notas, canvas, .aulas{
    text-align: center;
    height:auto;
    width: 400px;
    margin: 50px auto;
    display: block;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 15px 35px rgba(31,60,136,0.15);
}

.notas h2{
    margin-bottom: 20px;
    text-align: center;
}
.lista{
    flex: 1;
    min-width: 300px;
    margin: 15px;
}

#grafico{
    margin: 50px 60px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: row;
    justify-content: space-around;
}

.notas li, .notas ul{
    font-size: 15px;
    margin: 15px;
}

/* ===============================
RESPONSIVO
=============================== */
@media (max-width: 768px) {
.logo {
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.btn{
  position: relative;
  left: -10px;
}

.aulas{
    width: 80%;
    align-items: center;
}

.container{
    padding-left: 80px;
    width: 80%;
}

.container{
    padding: 10px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
}

.notas{
    width: auto;
    margin: 10px;
}
canvas#grafico{
    height: auto;
    width: auto;
    margin: 0px;
    padding-right: -50px;
}
}