* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background: #F4F6F8;
    color: #162447;
}
nav {
    background: linear-gradient(90deg, #1f3d8807, #5282fd93);
    padding: 20px;
    color: #000000;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn{
  margin-left: 15px;
  position: relative;
  top: -85px;
  right: 40px;
  float: right;
}

nav img {
    height: 65px;
}

button {
  padding: 8px 12px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: 0.3s;
}

button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    transition: 0.3s;
    background: #1F3C88;
    color: white;
}

ul{
  list-style: none;
}

ul li{
  border-radius: 6px;
  margin: 6px auto;
  width: auto;
}

.notas{
    text-align: center;
    height:auto;
    width: 400px;
    margin: 50px auto;
    display: block;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 15px 35px rgba(31,60,136,0.15);
}

.notas h2{
    margin-bottom: 20px;
    text-align: center;
}
.lista{
    flex: 1;
    min-width: 300px;
    margin: 15px;
}



.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}