* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background: #F4F6F8;
    color: #162447;
}

nav {
    background: linear-gradient(90deg, #1f3d8807, #5282fd93);
    padding: 20px;
    color: #000000;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav img {
    height: 65px;
}

section h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

section{
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    display: block;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 35px;
    box-shadow: 0 15px 35px rgba(31,60,136,0.15);
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.campo input{
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #162447;
    padding: 13px 15px;
    border-radius: 10px;
    border: 1px solid #CCD6E0;
    font-size: 14px;
    transition: all 0.3s ease;
}

.campo input:focus{
    outline: none;
    border-color: #1EB6E8;
    box-shadow: 0 0 0 3px rgba(30,182,232,0.25);
}

.botao {
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
    padding: 15px 26px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao:hover {
    font-weight: bold;
    color: white;
    background: #1F3C88;
    transform: translateY(-1px);
}


/* ===============================
RESPONSIVO
=============================== */
@media (max-width: 768px) {
    header .logo {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }



    .botao {
        flex-direction: column;
    }

    footer {
        margin-top: 380px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
