*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0px auto;
    width: auto;
    min-width: 1100px;
}

a{
    text-decoration: none;
}
 /********************BARRA-NAVEGACAO*****************/

.login{
    float: left;
    font-weight: bold;
}

nav a{
    margin: 0pxs 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fafafa;
    background: #0d2440;
}

nav a:hover{
    background: #7ba4d0;
    transition: 0.3s;
}

#barra-navegacao{
    text-align: right;
    padding: 25px;
    background: rgba(123, 101, 73, 0.137);
}


/************************CONTEUDO-LOGO*****************************/

#logo{
    min-width: 100hv;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    height: 530PX;
    background-color:  #e7f0fa;
   
}

#logo::before{
    content: '';
    background-image: url(./img/Gemini_Generated_Image_ta00b0ta00b0ta00.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.25;
}

#logo img{
   width: 250px;
   height: 250px;
   margin-top: 100px;
   position: relative;
   background-color: rgba(255, 255, 255, 0.685);
   border-radius: 50%;
}

#logo h1{
    margin-top: 25px;
    position: relative;
    font-weight: bolder;
}

/*******************SOBRE-NOS***************/

#sobre-nos{
    margin: 25px auto;
    text-align: justify;
    width: 900px;
    padding: 50px;
}

/********************orientadores*********************/

#orientadores{
    padding: 50px 10px 50px 10px;
    height: 580px;
    text-align: center;
    background: #e7f0fa;
}

#cards{
    display: flex;
    justify-content: space-around;
}

.card{
    font-size: 0.6em;
    text-align: center;
    margin: 50px 10px 0px 10px;
    padding: 15px;
    width: 200px;
    height: 320px;
    background: white;
    border: solid #0d2440 2px;
    border-radius: 10px;
}

.descricao{
    background-color: rgba(255, 255, 255, 0.774);
    border: #7ba4d0 solid 2px;
    border-radius: 10px;
    height: 118px;
    margin-top: 200px;
    padding: 5px;
    font-size: 1.2em;
}

.descricao h2{
    font-size: 15px;
}
.descricao p{
    font-size: 13px;
}

#bruno{
    background-color: white;
    background-image: url(./img/bruno.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

#rebeca{
    background-color: white;
    background-image: url(./img/rebeca.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

#ronivon{
    background-color: white;
    background-image: url(./img/RONIVON-FOTO.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

#sergio{
     background-color: white;
    background-image: url(./img/sergio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

#walberto{
    background-color: white;
    background-image: url(./img/walberto.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}



/*******************RODAPE**********************/  

footer{
    padding: 25px;
    background:rgba(123, 101, 73, 0.137);
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
}

footer img{
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 50%;
}



#footer-scriptura{
    text-align: center;
    align-items: center;
}


#ADLUZ{
    text-align: center;
}

footer a img{
    width: 38px;
    height: 38px;
    margin: 15px;
    filter: brightness(0.7);
}

footer a img:hover{
    filter: brightness(1);
    transition: 0.3s;
}

#fim{
    text-align: center;
    font-size: 0.8em;
    padding: 25px;
}