*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    font-size: 1em;
    margin: 0px auto;
    min-width: 800px;
    width: 800px;
}

.clear{
    clear: both;
}
/************************* Estilo para o formulário de matrícula *************/
nav{
    margin: 40px;
}

.logo{
    text-align: center;
}
.logo img{
    width: 60px;
    height: 60px;
}

#info1{
    float: left;
    padding: 25px 120px 25px 70px;
}
    
#info2{
    float: right;
    width: auto;
    padding: 25px 120px 497px 70px;
}

#info3 label{
    margin-bottom: 0.2em;
    display: block;
}

#info3 input{
    padding: 0.5em;
    border: 2px solid #0d2440;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#info3 h2{
    text-align: center;
    padding-bottom: 10px;
}
fieldset{
    padding: 20px;
    border: none;
    border-top: #0d2440 1px solid;
}
fieldset h2{
    font-size: 20px;
}

input{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
   
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

.campo input[type="text"], .campo input[type="number"], .campo input[type="tel"], .campo input[type="date"], .campo input[type="email"], textarea{
    padding: 0.5em;
    border: 2px solid #0d2440;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.campo input:focus, textarea:focus{
    background-color: #c1dcfc50;
}

.botao input{
    position: relative;
    right: 50%;
    left: 50%;
    font-size: 1.2em;
    border: 0;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.botao input:hover{
    background: #7ba4d0;
}

.centro{
    text-align: center;
}

#texto label{
    padding-bottom: 15px;
    text-align: center;
}

textarea{
    width: 98%;
    padding: 0.5em;
    border: 2px solid #0d2440;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*******************RODAPE**********************/  

footer{
    margin-top: 150px;
    padding: 25px;
    background:rgba(123, 101, 73, 0.137);
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
}

footer img{
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 50%;
}



#footer-scriptura{
    text-align: center;
    align-items: center;
}


#ADLUZ{
    text-align: center;
}

footer a img{
    width: 38px;
    height: 38px;
    margin: 15px;
    filter: brightness(0.7);
}

footer a img:hover{
    filter: brightness(1);
    transition: 0.3s;
}

#fim{
    text-align: center;
    font-size: 0.8em;
    padding: 25px;
}