*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: #7ba4d01a;
}

main{
    border: black solid 1px;
    font-size: 1em;
    margin: 0px auto;
    min-width: 800px;
    width: 800px;
    background-image: url(./img/luxa.org-opacity-changed-._backgorud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    padding-bottom: 200px;
}

.clear{
    clear: both;
}
/************************* Estilo para o formulário de matrícula *************/
nav{
    padding: 40px;
}

.logo{
    text-align: center;
    padding-bottom: 50px;
}
.logo img{
    width: 60px;
    height: 60px;
}

#info1{
    float: left;
    padding: 25px 120px 0px 10px;
    width: 180px;
}
    
#info2{
    float: right;
    width: 180px;
    padding: 25px 120px 450px 10px;
}

#info3 label{
    margin-bottom: 0.2em;
    display: block;
}

#info3 input{
    padding: 0.5em;
    border: 2px solid #0d2440;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#info3 h2{
    text-align: center;
    padding-bottom: 10px;
}
fieldset{
    padding: 20px;
    border: none;
    border-top: #0d2440 1px solid;
}
fieldset h2{
    font-size: 20px;
}

input{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1.2em;
}

.campo label, label{
    margin-bottom: 0.2em;
    display: block;
    color: red;
}

strong{
    color: black;
}

.campo input[type="text"], .campo input[type="tel"], .campo input[type="date"], .campo input[type="email"], textarea{
    padding: 0.5em;
    border: 2px solid #0d2440;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.campo input:focus, textarea:focus{
    background-color: #c1dcfc50;
}

.botao input{
    margin: 40px 300px 40px 350px;
    font-size: 1.2em;
    border: solid 2px #0d2440;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.botao input:hover{
    transition: 0.3s;
    color: white;
    background: #0d2440;
}

.centro{
    text-align: center;
}

#texto label{
    padding-bottom: 15px;
    text-align: center;
}

textarea{
    border-radius: 5px;
    width: 98%;
    padding: 0.5em;
    border: 2px solid #0d2440;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*******************RODAPE**********************/  

footer{
  
    padding: 25px;
    background:rgba(123, 101, 73, 0.137);
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
}

footer img{
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 50%;
}



#footer-scriptura{
    text-align: center;
    align-items: center;
}


#ADLUZ{
    text-align: center;
}

footer a img{
    width: 38px;
    height: 38px;
    margin: 15px;
    filter: brightness(0.7);
}

footer a img:hover{
    filter: brightness(1);
    transition: 0.3s;
}

#fim{
    text-align: center;
    font-size: 0.8em;
    padding: 25px;
}